
.ButtonWrapper button {

}
.ButtonWrapper button:hover {
  cursor: pointer;
}
.ButtonWrapper button:active,
.ButtonWrapper button:focus {
  outline: none;
}
.FormButtonWrapper {
  position: absolute;
}
